<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bumper-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{106,109}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,109}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 4 6 0 2 3 4 0 1 2 4 0 2</string>
                <key>vertices</key>
                <string>110 44 110 98 62 113 17 112 4 70 4 17 44 4 99 4</string>
                <key>verticesUV</key>
                <string>107 41 107 95 59 110 14 109 1 67 1 14 41 1 96 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bump-sprites.png</string>
            <key>size</key>
            <string>{108,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4cc23e7994687e5b9c881d4198570b6:2fe3144cdf32f3f65ca177e810fcc607:51cd5a6f33a6830db96afadd997852a4$</string>
            <key>textureFileName</key>
            <string>bump-sprites.png</string>
        </dict>
    </dict>
</plist>
